*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html,
body,
#root,
.Main {
    margin: 0;
    height: 100%; }

.header {
    color: black;
    background-color: #acf3cf;
    font-family: 'K2D', sans-serif;
    font-size: 2em; }
body.reversed .header {
    color: white; }
body.reversed .header {
    background-color: #315644; }
.header-content {
    padding: 6px; }

.footer {
    color: black;
    background-color: black;
    display: grid;
    padding-top: 6px; }
body.reversed .footer {
    color: white; }
body.reversed .footer {
    background-color: white; }
.footer-content {
    background-color: #acf3cf;
    font-family: 'K2D', sans-serif;
    text-align: center; }
body.reversed .footer-content {
    background-color: #315644; }

.wrapper {
    color: black;
    border-color: black;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 60px 124px auto 30px;
    border: 6px solid; }
body.reversed .wrapper {
    color: white; }
body.reversed .wrapper {
    border-color: white; }

.navigation {
    background-color: black;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    padding-top: 6px;
    padding-bottom: 6px; }
body.reversed .navigation {
    background-color: white; }

.nav-box {
    float: left;
    height: 100%;
    text-align: center;
    font-family: 'K2D', sans-serif;
    font-size: 2em;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
.nav-box-title {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in; }
.nav-box:hover .nav-box-title {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out; }

.main-content {
    background-color: lightpink;
    position: relative;
    height: 100%; }
body.reversed .main-content {
    background-color: #63494d; }

.-one {
    background-color: #f8d458; }
body.reversed .-one {
    background-color: #c19705; }

.-two {
    background-color: #67d0c2; }
body.reversed .-two {
    background-color: #3e626b; }

.-three {
    background-color: #fb9187; }
body.reversed .-three {
    background-color: #a0483f; }

.-four {
    background-color: #cabff5; }
body.reversed .-four {
    background-color: #4e4477; }

.layer {
    width: 100%;
    height: 0;
    opacity: 0; }
.layer.selected {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1); }

.btn {
    max-width: 120px;
    height: 32px;
    font-family: 'K2D', sans-serif;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    cursor: pointer; }

@media screen and (min-width: 678px) {
    .wrapper {
        grid-template-rows: 60px 100px auto 30px; }
    .navigation {
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 6px; }
    .layer {
        position: absolute;
        top: 0; }
    .layer:first-child {
        width: 25%;
        left: 0; }
    .layer:first-child.selected {
        width: 100%;
        left: 0; }
    .layer:nth-child(2) {
        width: calc(25% - 12px);
        left: calc(25% - 12px); }
    .layer:nth-child(2).selected {
        width: 100%;
        left: 0; }
    .layer:nth-child(3) {
        width: 25%;
        right: 25%; }
    .layer:nth-child(3).selected {
        width: 100%;
        right: 0; }
    .layer:last-child {
        width: 25%;
        left: 75%;
        right: 0; }
    .layer:last-child.selected {
        width: 100%;
        left: 0;
        right: 0; } }