.flyout-menu {
  background-color: #404040;
  width: 100vw;
  height: 100vh;
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform .3s linear;
  overflow: scroll;
  z-index: 1000;
  padding: 1em;
  color: #fefefe;

  &.hide {
    transform: translate3d(100vw, 0, 0);
  }

  &.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
}

select {
  background: #eee;
}

.close-button {
  font-size: 2em;
  float: right;
  color: #fefefe;
}
